/* Página general */
body {
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    -webkit-font-smoothing: antialiased; /* Suavizar fuentes */
    -moz-osx-font-smoothing: grayscale;
}

.login-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, #202A62, #3E497A); /* Degradado elegante */
}

/* Contenido del Login */
.login-content {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border-radius: 20px;
    padding: 2.5rem;
    max-width: 1000px;
    width: 90%;
    gap: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px); /* Desenfoque para mayor elegancia */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde translúcido */
    color: #ffffff;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    color: #ffffff; 
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

/* Sección derecha */
.right-section {
    flex: 1;
    text-align: center;
    color: #ffffff;
}

.right-section h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.right-section p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

.welcome-image {
    width: 80%;
    max-width: 150px;
}

/* Inputs */
.input-div {
    margin: 1.5rem 0; 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-div .input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.input-div .input::placeholder {
    color: rgba(255, 255, 255, 0.8); 
}

.input-div .input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.3);
}

/* Botón */
form button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #2d355a; 
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #345483;
}

form button:hover:not(:disabled) {
    background-color: #5C6AA7;
}
