/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
  
}
body {
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    -webkit-font-smoothing: antialiased; /* Suavizar fuentes */
    -moz-osx-font-smoothing: grayscale;
}



/*
primary: #202A62 
menu: #EBEBED
card: #F6F6F7
secondary: #041B9C

#F19E39
#5985E1
#EA3323
#00FF9C

*/